section#cover {
  background-image: url("../assets/SL_043021_42650_02.jpg");
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.frosted-glass-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blue(10px);
}

.frosted-glass {
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: .6rem;
}

.anime-scale {
  scale: 0.6;
}

.animate-left-right {
  animation-name: left-right;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes left-right {
  0% {
    transform: translate(1rem, 0);
  }
  50% {
    transform: translate(-2rem, 0);
  }
  100% {
    transform: translate(1rem, 0);
  }
}

.nav-link {
  font-family: "Montserrat";
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 1, 3rem;
}
